{% extends "app/layout.html" %}

{% block content %}

<h1 class="text-center">{{ title }}</h1>

{% for item in items %}
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Заказ №{{ item.id }}</h3>
	</div>
	<div class="panel-body">
	<table class="table">
			<tr>
				<th>Стоимость</th>
				<th>Статус</th>
			</tr>
			<tr>
				
				<th>{{ item.total_price }}$</th>
				<th>
				{% if ordertype == 'allOrders' %}
				<div class="btn-group">
					<button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					{{ item.get_status_display }} <span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
					{% if item.status != 'processed' %}<li><a href="{% url 'changeStatus' %}?order={{order.id}}&status=processed">Обрабатывается</a></li>{% endif %}
					{% if item.status != 'intransit' %}<li><a href="{% url 'changeStatus' %}?order={{order.id}}&status=intransit">Доставляется</a></li>{% endif %}
					{% if item.status != 'delivered' %}<li><a href="{% url 'changeStatus' %}?order={{order.id}}&status=delivered">Доставлен</a></li>{% endif %}
					</ul>
				</div>
				{% else %}
				{{ item.get_status_display }}
				{% endif %}
				</th>
			</tr>
		</table>	
		
	</div>
	<div class="panel-footer d-flex jc-between">
		<a href="{% url 'orderDetails' orderId=item.id %}" class="btn btn-primary">Подробности заказа</a>
		<a href="{% url 'deleteOrder' %}?order={{item.id}}&next={{ordertype}}" class="btn btn-danger">Отменить заказ</a>
	</div>
</div>

{% endfor %}


{% endblock %}
