{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}</h2>
<div class="row">
    <div class="col-md-12">
        <section id="loginForm">
             <form method="post" class="form-horizontal">
                {% csrf_token %}
                {% for field in form %}
                 <div class="form-group">
                    <label for="id_username" class="col-md-2 control-label">{{ field.label }}</label>
                    <div class="col-md-10">
                        {{ field }}
                        {% if field.help_text %}
                          <small style="color: grey">{{ field.help_text }}</small>
                        {% endif %}
                        {% for error in field.errors %}
                          <p style="color: red">{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="hidden" name="next" value="/" />
                        <input type="submit" value="Зарегестрироваться" class="btn btn-default" />
                    </div>
                </div>
             </form>
        </section>
    </div>
</div>

{% endblock %}


{% block scripts %}

    {% load static %}

    <script>
       $('.form-group').children('div').children('input').addClass('form-control')
        
    </script>
<script src="{% static 'app/scripts/jquery.validate.min.js' %}"></script>

{% endblock %}
